// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    padding: 2rem;
}

h1 {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 2rem;
}

.margin-right {
    margin-right: 0.5rem;
}
